//- 网站的核心的公共父级组件
//- 一些全局公共css和js可以在这里被加载
doctype html
html
  head
    title=title
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="renderer" content="webkit")
    meta(name="author" content="编码猿,2271608011@qq.com")
    meta(http-equiv="Cache-Control" content="no-cache")
    meta(http-equiv="Expires" content="0")
    meta(name="renderer" content="webkit")
    meta(http-equiv="Cache-Control" content="no-siteapp")
    meta(name="apple-mobile-web-app-status-bar-style" content="black")
    meta(name="google" value="notranslate")
    meta(name="baidu-site-verification" content="21kEPchCxS")
    meta(name="360-site-verification" content="6dbeb22f4f20d07f3492eff44f8b25e3")
    meta(baidu-gxt-verify-token="8faebbed25a4b01d5b78eafd57bcd370")
    link(rel="shortcut icon" href="/img/favicon.ico")
    link(rel="stylesheet" href="/js/lib/zui/css/zui.css")
    link(rel="stylesheet" href="/js/lib/zui/css/zui-theme-blue.css")

  block title


  body

    //- 公共网站头部
    - if (isShowAction.header)
     include ./public/header

    //- 网站主体内容，从 main/*.jade 被载入
    block content

    //- 公共网站版权
    - if (isShowAction.footer)
     include ./public/footer

    script(data-main="/js/app.js" src="/js/lib/require.js" defer)
