extends ./../layout

//- 网站的头部信息这边拆分出来，便于每个页面的SEO配置和配置页面独有的css，js
block title

  meta(name="description" content="关于我们，企业联系，课程咨询，问题答疑")
  meta(name="keywords" content="编码猿，关于我们，怪客学堂")

//- 网站的主体内容区域
block content
  .about(class="pages about" data-module="about")
    .container 关于我