extends ./../layout

//- 网站的头部信息这边拆分出来，便于每个页面的SEO配置和配置页面独有的css，js
block title

	meta(name="description" content="怪客课堂的404错误页面")
	meta(name="keywords" content="怪客课堂，编码猿，怪客学堂，错误页面")
	link(rel="stylesheet" href="/css/home/error.css")

//- 网站的主体内容区域
block content
	.error
		img(src="/img/bgError.png")
		.i-message
			h3
				| 哎哟喂~出bug了啊，哈哈...
				br
				| 页面不存在

			p 可能的原因：
			ul
				li 1: 手滑输错地址
				li 2: 估计是程序员小姐姐代码有问题
				li 3: 页面过期失效了
				li 4: 不要干坏事哦
			p.action
				a(href="/") 回到首页
				a(onclick="history.back();") 返回上一页
