extends ./../layout

//- 网站的头部信息这边拆分出来，便于每个页面的SEO配置和配置页面独有的css，js
block title

	meta(name="description" content="怪客课堂是合肥源学思信息科技有限公司旗下的在线学习品牌，我们专注于通过不断的项目实战和实战经验分享来帮助更多想要进一步提高自身能力的人，同时也为想要从事编程行业的朋友提供一个更加合理快速的通道。在这里你能学习到更多更加有用的实战技能，更多更加干货和有分量的基础视频，我们拒绝废话拒绝啰嗦，在这里一切知识都为了更加符合企业工作需要，提升自我价值实现自我理想。")
	meta(name="keywords" content="编码猿，html，css，后端，vue，php，java，node，koa, 在线技术学习")

//- 网站的主体内容区域
block content

	.index(class="pages register" data-module="register")
		.container 用户注册

